# Hidden files and folders
.*
!.gitignore
!.gitattributes
!.gitlab-ci.yml
_*

# Temporary files
notebooks/*
!notebooks/*.ipynb
!notebooks/*.py
!notebooks/mysqld
notebooks/mysqld/mysql
notebooks/mysqld/performance_schema
notebooks/mysqld/test
notebooks/mysqld/*.log
notebooks/mysqld/*.info
notebooks/mysqld/*.pid
notebooks/mysqld/aria_log*
notebooks/mysqld/ib_log*
notebooks/mysqld/ibdata*

# Keep downloads
# downloads/**/**/
# !downloads/**/*.gz
# !downloads/**/*.zip

# Keep output
output/*
!output/*.gz
