downloads/* filter=lfs diff=lfs merge=lfs -text
output/* filter=lfs diff=lfs merge=lfs -text
output_mysql/** filter=lfs diff=lfs merge=lfs -text
notebooks/mysqld/protein_interaction_energy/** filter=lfs diff=lfs merge=lfs -text
